doctype html
html
  head
    title Nouveau message
    link(rel='stylesheet', type='text/css', href='styles/global.css')
  body
    h1 Ecrivez un nouveau message 

    form(action='new', method='post')
      table#message
        thead
          tr
            th message
            th
        tbody
          each message in messagelist
            tr
              td= message.message
              td
        tfoot
          tr
            td: input(type='text' name='message')
            td: input(type='submit' text='Send')
