doctype html
html
  head
    title Mur
    link(rel='stylesheet', type='text/css', href='styles/global.css')
  body
    h1 Tous les messages d'un utilisateur

    form(action='new', method='post')
      table#message
        thead
          tr
            th message
            th
        tbody
          each message in messagelist
            tr
              td= msg.message
              td
        tfoot
          tr
            td: input(type='text' name='message')
