doctype html
html
  head
    title Recherche profile!
    link(rel='stylesheet', type='text/css', href='styles/global.css')
  body
    h1 profile

    form(action='new', method='post')
      table#profile
        thead
          tr
            th Nom
            th Message
            th
        tbody
          each profile in profilelist
            tr
              td=profile.nom
              td= profile.message
              td
        tfoot
          tr
            td: input(type='text' name='Nom')
            td: input(type='text' name='message')
            td: input(type='submit' text='Send')
